<header class="sidebar">
  <!-- <div class="container"> -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
    </div>
    <nav class="sidebar-nav">
      <ul>
        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages | sort: 'nav_order' %}
        {% for node in pages_list %}
          {% if node.title != null and node.menupage != null %}
            {% if node.layout == "page" %}
              <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="sidebar-social">
      <ul class="social-icons icon-circle list-unstyled list-inline">
        {% assign social_links = site.data.social %}
        {% for node in social_links %}
        <li>
          <a href="{{ node.link }}" rel="me">
          <!-- <i class="fa fa-brands fa-{{ node.class }}"></i> -->
          <span class="icon-{{ node.class }}"></span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  <!-- </div> -->
</header>
